:root {
  --primario: #1073ba;
  --secundario: #00da55;
  --gris: #3b3b3b;
  --blanco: #ffffff;
  --negro: #1f1f1f;
  --gris-claro: #e1e1e1;

  --separacion: 5rem;

  --fuente-principal: 'Roboto', sans-serif;
  --fuente-sencudaria: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  font-size: 1.6rem;
  line-height: 1.5;
}


/* Globales */
.contenedor {
  width: 90%;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3 {
  margin: calc(var(--separacion)/2) 0;
  font-family: var(--fuente-sencudaria) 0;
  font-weight: 900;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* Utilidades */
.text-center {
  text-align: center;
}


/* Header */
.header {
  background-color: var(--negro);
  color: var(--blanco);
  padding: calc(var(--separacion)*3) 0;
}

.texto-header {
  padding-top: var(--separacion);
  text-align: center;
}

.texto-header p {
  margin: 0;
}

.tagline-producto {
  font-size: 3rem;
  font-weight: 900;
}

/* Degradados */
.degradado-verde {
  color: transparent;
  background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.nombre-producto {
  margin: 1rem 0;
  font-size: 5rem;
}

.descripcion-producto {
  font-size: 1.8rem;
}


/* Íconos */
.iconos {
  padding: var(--separacion) 0;
}

.icono {
  text-align: center;
  margin-bottom: calc(var(--separacion));
}

.icono:last-of-type {
  margin-bottom: 0;
}

.icono img {
  width: 5rem;
  margin: 0 auto;
}

.icono h3 {
  color: var(--primario);
  text-transform: uppercase;
  margin-top: calc(var(--separacion)/2.5);
}


/* Sobre SoundPRO */
.sobre-sound {
  background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.avif);
  background-position: right;
  background-repeat: repeat, no-repeat;
  background-size: 100%, 110rem;
}

.sobre-sound-grid {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  row-gap: var(--separacion);
}

.sobre-sound-texto {
  color: var(--blanco);
  grid-row: 2 / 3;
}

.sobre-sound-texto h2 {
  font-size: 3.5rem;
}

.sobre-sound-texto p {
  font-size: 1.8rem;
  line-height: 2;
}


/* Modelos */
.modelos {
  padding: var(--separacion) 0;
}

.header-modelos {
  margin-bottom: var(--separacion);
  font-size: 6rem;
}

.listado-modelos {
  display: flex;
  flex-direction: column-reverse;
}

.modelo {
  min-height: 20rem;
  background-color: var(--gris-claro);
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 10rem;
  border-radius: 2rem;
  color: var(--primario);
  padding-left: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: transform background-size;
  transition-duration: .2s;
}

.modelo:hover {
  /* background-size: 25rem; */
  transform: scale(1.1);
}

.modelo h3 {
  margin: 0;
  font-size: 3rem
}

.modelo .precio {
  font-size: 4rem;
  font-weight: 900;
  line-height: 0;
}

.modelo:first-child {
  margin-bottom: 0;
}

.modelo-1 {
  background-image: url('../img/modelo-x.svg');
}

.modelo-2 {
  background-image: url('../img/modelo-y.svg');
}

.modelo-3 {
  background-color: var(--primario);
  background-image: url('../img/modelo-z.svg');
  color: var(--blanco);
}

.modelo-3 .precio {
  font-size: 4.5rem;
}


/* Newsletter */
.newsletter {
  background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url('../img/newsletter.avif');
  background-position: center, -20rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 1fr;
}

.contenido-newsletter {
  display: grid;
  grid-template-rows: 30rem 1fr;
  gap: calc(var(--separacion)*3.5);
}

.texto-newsletter {
  grid-row: 2 / 3;
}

.formulario input[type="email"] {
  width: 100%;
  padding: 1rem;
  display: inline-block;
}

.formulario input[type="submit"] {
  width: 100%;
  padding: 2rem;
  background-color: var(--primario);
  border: none;
  color: var(--blanco);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}


/* Footer */
.footer p {
  margin: 0;
  padding: 3rem 0;
  color: var(--primario);
  font-family: var(--fuente-sencudaria);
  font-size: 2rem;
  text-transform: uppercase;
}


/* Media Queries */
@media (min-width: 411px) {
  .modelo {
    background-size: 13rem;
  }
}

@media (min-width: 500px) {
  .modelo {
    background-size: 16rem;
  }
  .contenido-newsletter {
    gap: calc(var(--separacion)*2);
  }
}

@media (min-width: 768px) {
  .contenido-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .texto-header {
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nombre-producto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    line-height: 1;
  }
  .descripcion-producto {
    font-size: 1.8rem;
  }
  .iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
  }
  .icono {
    margin: 0;
  }
  .sobre-sound {
    background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.avif);
    background-size: 100%, 110rem;
  }
  .sobre-sound-grid {
    padding: calc(var(--separacion)*2) 0;
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    row-gap: unset;
    column-gap: 4rem;
  }
  .newsletter {
    background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url('../img/newsletter.avif');
    background-position: center, -21rem 0rem;
    background-size: 100%, 100rem;
    margin-top: 4rem;
    padding: 10rem 0;
  }
  .contenido-newsletter {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--separacion)*1.5);
  }
  .texto-newsletter {
    grid-row: unset;
    grid-column: 2 / 3;
  }
}

@media (min-width: 940px) {
  .descripcion-producto {
    font-size: 2.1rem;
  }
  .listado-modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20rem);
    gap: 2rem 3.5rem;
  }
  .modelo {
    margin-bottom: 0;
  }
  .modelo-3 {
    background-size: 22rem;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .modelo-3 h3 {
    font-size: 4.5rem;
  }
  .modelo-3 p {
    font-size: 4rem;
  }
}

@media (min-width: 1600px) {
  .sobre-sound {
    background-size: 100%, 210rem;
    object-fit: cover;
  }
  .newsletter {
    background-position: center, 0 -30rem;
    background-size: 100%, 200rem;
  }
}